.App {
  font-family: sans-serif;
}

.Timebox {
  border: $default-border;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.TimeboxForm {
  text-align: right;
  border: $default-border;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.TimeboxEditor, .TimeboxCreator {
  text-align: right;
  border: $default-border;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.TimeboxCreator {
  background-color: darken(aqua,20);
}

.TimeboxEditor {
  background-color: lighten(aquamarine, 20);
}


.Timebox {
  background-color: darkgoldenrod;
}

input {
  min-width: 60%;
  margin-left: 20px;
  font-size: 16px;
}

button {
  font-size: 16px;
  margin-left: 10px;
}

.CurrentTimeBox {
  border: $default-border;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: blanchedalmond;
}

.Clock {
  color: orangered;
}

.progress {
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 25px;
  padding: 5px;

  &--big {
    height: 50px;
  }

  &--color-red {
    border-color: orangered;
  }

  &__bar {
    height: 100%;
    background: black;
  }

  &--color-red &__bar {
    background-color: orangered;
  }
}
